# Python cache & virtual environments
__pycache__/
*.py[codz]
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# PyTorch Model Weights
*.pt
*.pth

# Project Data & skfin Cache
data/*
!data/.gitkeep

# IDEs & OS
.vscode/
.idea/
.DS_Store

# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.bbl
*.blg