# Python / Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.env
venv/
env/

# Data (Never commit large or proprietary datasets)
data/raw/*
data/processed/*
!data/.gitkeep

# LaTeX build files
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.bbl
report/*.blg
